.add-note-container {
    display: flex;
    justify-content: center;
}

.note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.note-form input[type=textarea] {
    height: 200px;
    width: 100%;
    font-size: 45px;
    font-style: italic;
    resize: none;
    margin-bottom: 100px;
    background-color: gray;
}

.note-form p {
    align-self: flex-start;
} 

.add-note-container {
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .note-form {
        width: 450px;
    }
  }

@media screen and (max-width: 480px) {
    .note-form {
        width: 300px;
    }
  }