
h1 {
    font-size: 96px;
    color: white;
    margin-bottom: 80px;
}

h2 {
    font-size: 64px;
    color: white;
    margin-bottom: 30px;
}


.board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notes-board {
    width: 75%;
    height: 800px;
    border: 6px solid rgb(99, 48, 19);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    overflow: auto;
    background-image: url('./board.jpg');
    background-size: cover;
    background-position: center;
}

.note {
    overflow: hidden;
    margin-left: 35px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    background-color: #a0d0e4;
    -webkit-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
      /* Firefox */
    -moz-box-shadow: 10px 15px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 10px 15px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 10px 15px 7px rgba(33,33,33,.7);
}

.notes-board > :nth-child(even).note {
    background-color: #fedd52;
    -webkit-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position: relative;
  }

  .notes-board > :nth-child(3n).note{
    background-color: #f36947;
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
  }

  .notes-board > :nth-child(4n+1).note{
    background-color: #6eeea8;
    -webkit-transform:rotate(-4deg);
    -o-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);
  }



.note *{
    margin-left: 25px;
}

.note p {
    color: black;
    margin-top: 10px;
    font-family: "Indie Flower";
    font-size:30px;
}

.note h3 {
    font-size: 23px;
    /* font-family:"Reenie Beanie",arial,sans-serif; */
    margin-bottom: 5px;
    color: black;
}

.pin {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 70px;
    top: 10px;
}



/* @media screen and (max-width: 1200px){
  .notes-board {
    width: 550px;
  }

} 

@media screen and (max-width: 550px){
  .notes-board {
    width: 280px;
  }

}  */
